@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    font-family:'Open Sans',sans-serif;
}

.resp-hidden{
    display: none;
}

.side-bar{
    display: none ;
}
.side-bar-active{
    display: flex !important;
}

@media (max-width:768px) {
   
    .resp-mob{
        display: none;
    }
}